.hide {
  display: none;
}
.cards {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 150px;
}
.clear {
  clear: both;
}
.reset-container,
h1 {
  text-align: center;
}
body {
  width: 100%;
}
#teamone {
  height: 180px;
}
#teamtwo {
  height: 180px;
}
body {
  background-color: beige;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scoreboard {
  border: 2px solid white;
  border-radius: 10px;
  background-color: darkgreen;
  color: white;
  width: 146px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 5px;
}
.visitors {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 5px;
}
